#header{
    background-color: black;
    text-decoration: underline;
    color: white;
    text-align: center;
}
.center{
    text-align: center;
}
 .shape{
    border: 5px solid; 
    text-align: center;


 }
 li{
     font-size: 28px;
 }